
<%- include("../partials/header") %>

<div class="container">
    <div class="jumbotron">
        <div class="container">
            <h1>Welcome to YelpCamp!</h1>
            <p>View our hand-picked campgrounds from all over the world</p>
            <a class="btn btn-primary btn-lg" href="/campgrounds/new">Add a new Campground</a>
        </div>
    </div>


    <div class="row text-center">
        <% campgrounds.forEach(function(campground){ %>
        <div class="col-sm-12 col-lg-4 col-md-6 pb-4">
            <div class="card" style="width: 18rem;">
                <img class="card-img-top" width="250px" height="200px" src="<%= campground.image %>" alt="Card image cap">
                <div class="card-body">
                <h5 class="card-title"><%= campground.name %></h5>
                <a href="/campgrounds/<%=campground._id%>" class="btn btn-primary">More Info</a>
                </div>
            </div>
        </div>
        <% }) %>
    </div>
</div>


<%- include("../partials/footer") %>

